.home-content {

}

.home-content-parent {
    display: flex;
    justify-content: space-around;
    align-items: center;
}


.home-visuals {
    display: flex;
    flex-direction: column;
    gap: 25px;
    width: 26%;
    height: 26%;
    margin-left: 10vw;
}

.home-visuals img {
    overflow: hidden;
}

.home-description {
    width: 30%;
    line-height: 1.9;
    font-size: 1.6em;
    direction: rtl;
    position: relative;
    top: 7vh;
    right: 11vw;
}

#visitor-button {
    color: white;
    background-color: #EF0107;
}