.home-content {

}

.home-content-parent {
    display: flex;
    justify-content: space-around;
    align-items: center;
}


.home-visuals {
    display: flex;
    flex-direction: column;
    width: 26%;
    height: 26%;
    margin-left: 12vw;
}

.home-visuals img {
    overflow: hidden;
}

.home-description {
    width: 30%;
    line-height: 2;
    font-size: 1.6em;
    direction: rtl;
    margin-top: 12vw;
    margin-right: 29vh;
}

#visitor-button {
    color: white;
    background-color: #EF0107;
}