.container {
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: space;
    height: 100vh;
    width: 100%;
}

.left {
    width: 293px;
}

.right {
    width: 157px;
}

.middle {
    flex: 5;
    border-right: 0.1px solid white;
    border-left: 0.1px solid white;
    direction: rtl;
    padding: 30px;
}